.md {
    display: flex;
    width: 100%;

    justify-content: center;
}

.container:hover .extrainfo {
    opacity: 1;

}

.buttoncontainer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 4rem;
}

.infobutton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 3rem;
    width: 3rem;
    margin-left: auto;
    opacity: 0.9;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s ease-in;
}

#infoicon {
    height: 1.7rem;
    width: 1.7rem;
}

.infobutton:hover {
    transform: translateY(-10px);
}

.extrainfo {
    position: absolute;
    z-index: 900;
    opacity: 0;
    transition: opacity 1s;
    max-width: 12rem;
    user-select: none;
    align-self: center;
    justify-self: center;
}


.container {
    text-align: center;
    display: flex;
    position: relative;
    cursor: pointer;
    min-width: 13rem;
    height: 20rem;
    transition: transform 0.2s;
}

.container img {
    height: 20rem;
    width: auto;
}


@media only screen and (max-width: 700px) {
    .container {
        height: 9rem;
        width: 90%;
        background-color: white;
        justify-content: flex-start;
    }

    .container:hover {
        transform: none;
    }

    .container img {
        margin-right: auto;
        height: auto;
        width: 7rem;
    }

    .container h2 {
        font-size: 1rem;
        opacity: 1;
        text-align: left;
        max-width: 100%;
        word-wrap: break-word;
        padding-right: 2rem;
        padding-left: 1rem;
    }

    .extrainfo {
        display: relative;
    }

}