.container{
    position:fixed;
    top:0;
    overflow: hidden;
    width: 100vw;
    height: 4.5rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    padding-right: 1rem;
    z-index: 998;
}

.logo{
    height: 2rem;
    cursor: pointer;
}

ul{

    display: flex;
    list-style: none;
    gap: 3rem;
}

@media only screen and (max-width: 420px){
    .container{
        padding: 0 1rem;
    }
}