.container {
    position: relative;
    overflow: hidden;
    max-width: 20rem;
}

.container::after {
    width: 100%;
    height: 7px;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--darkblue);
}

@media only screen and (max-width: 840px) {
    .container {
        max-width: 100%;
    }
}