.container {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 0 4rem;
    margin-top: 8rem;
}

.heading {
    min-height: 100vh;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;

}

.heading h1 {
    line-height: 5.5rem;
    font-size: 5rem;
    font-weight: 500;
}

.skillholder {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.container img {
    border-radius: 10px;
    transition: transform 1s;
    cursor: pointer;
}

.container img:hover {
    transform: scale(0.99);
}

.msa {
    color: var(--lightblue);
}

