.container {

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 30rem;
    padding: 1rem;
}

@media only screen and (max-width: 850px) {
    .infoholder {
        flex-direction: column;
    }
    .movieimage{
        height: 15rem;
        display: flex;
        overflow: hidden;
        align-items: center;
    }
    .movieimage img{

        width: 30rem;
    }
    .bottomdivider{
        display: none;
    }
}